<div class="cart-wrapper">
  <button mat-flat-button class="continue-shopping-button" routerLink="/products" aria-label="Button with arrow back icon">
    <mat-icon>arrow_back</mat-icon>
    Continue shopping
  </button>

  @if (productsService.cart().length) {
  <table mat-table [dataSource]="productsService.cart()" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">{{element.amount}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      <td mat-footer-cell *matFooterCellDef> <strong>Total: {{getTotalPrice()}} </strong></td>
    </ng-container>
    <ng-container matColumnDef="deleteItem">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button class="delete-button" aria-label="Delete item" (click)="deleteItem(element.id)">
          Delete
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  }
  @else {
  Your cart is empty!
  }
</div>